header {
  background-attachment: fixed;
  background-color: aquamarine;
}

footer {
  background-attachment: fixed;
  background-color: aquamarine;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

h2 {
  color: blue;
}

div {
  border: 0;
}
.ctd {
  font-weight: bold;
  background-color:  rgb(127, 253, 255);
  border: 0;
}
.great {
  font-weight: bold;
}
#d {
  color: red;
}
td {
  border: 1px solid;
}

table {
  width: 100%;
  max-width: 400px;
  height: 240px;
  margin: 30px;
  display: block;
  /* overflow-x: auto; */
  border-spacing: 4;
}

tbody {
  white-space: nowrap;
}
